@media (max-width: 500px){
    /* actual*/
    .actual__title-img{
        display: none;
    }

    .actual__management, .actual__research, .actual__check, .actual__create{
        flex-direction: column;
    }

    .actual__footer-img{
        display:none;
    }

    .actual__title{ 

        text-align: center;
    }

    .actual__subtitle{
        text-align: center;
        max-width: 18.75rem;

        font-size: 18px;
    }

    .actual__numeral{
        display: block;
    }

    .actual__management-title{
        margin-bottom: 10px;
    }

    .actual__management-title, .actual__research-title, .actual__check-title, .actual__create-title {
        margin-bottom: 20px;
        text-align: center;

        font-size: 25px;
    }

    .actual__management-title{
        margin-left: 6rem;
    }

    .actual__research-title{
        margin-left: 7rem;
    }

    .actual__create-title{
        margin-left: 1rem;
    }

    .actual__check-title{
        margin-left: 5rem;
    }

    .actual__numeral{
        margin-left: 0.8rem;
    }
    
    .pink-button{
        width: 270px;
        margin-bottom: 25px;
    }

    /* actual*/

    /* online.education*/

    .online_education__subtitle{
        text-align: center;
        font-size: 18px;
    }

    .online_education__colomn{
        border: 0px;
        margin: 0 auto;
        width: 100%;

        height: 100%;
    }

    .online_education__colomn4{
        border: 0px;
        width: 100%;
        height: 100%;
        margin: 0 auto;

        padding-bottom: 50px;
    }

    .online_education__main{
        display: flex;
        flex-direction: column;
    }

    .online_education__colomn-title1{
        text-align: center;
        font-size: 22px;
        font-weight: 500;
    }

    .online_education__colomn-title{
        text-align: center;
        margin-bottom: 20px;

        font-size: 22px;
        font-weight: 500;
    }

    .online-education__colomn-text{
        text-align: center;

        width: 270px;
    }

    /* online.education*/

    /* technology*/

    .technology__title-h1{
        text-align: center;
        margin-bottom: 2rem;
    }

    .technology__item-first{
        left: 10%;
        top: 2%;

        font-size: 25px;
    }

    .technology__item-second{
        left: 7%;
        top: 24%;

        font-size: 26px;
    }

    .technology__item-third{
        left: 17%;
        top: 12%;

        font-size: 28px;

    }

    .technology__item-fourth{
        font-size: 22px;

        left: 5%;
        top: 36%;
    }

    .technology__item-fifth{
        font-size: 22px;
        top: 48%;
        left: 5%;
    }

    .technology__item-img{
        width: 300px;
        height: 200px;

        top: 60%;
        left: 0%;
    }

    /* technology*/

    
    /* education*/
    
    .education__title{
        text-align: center;

        margin-top: -1px; /*потому что белая полоса*/
    }

    .education__subtitle{
        text-align: center;
    }

    .education__main{
        flex-direction: column;
    }

    .education__popup{
        width: 280px;
    }

    .education__column-title{
        min-height: 0px;
    }

    /* education*/

    /* conclusions*/
    .conclusions__title{
        text-align: center;
    }

    .conclusions__text{
        text-align: center;

        font-size: 17px;
    }

    .conclusions__subtitle{
        text-align: center;
    }

    .conclusions__items{
        flex-direction: column;
        align-items: center;
    }

    .conclusions__button{
        width: 280px;
        margin-bottom: 20px;
        margin-right: 0px;

        height: 90px;
        font-weight: 700;
    }

    .conclusions__background{
        display: none;
    }
    /* conclusions*/

    /* header*/
    .img__header{
        display: none;
    }

    .head__title{
        text-align: start;
        font-size: 25px;
        font-weight: 400;
        width: 100%;
    }

    .head__text{
        font-weight: 400;
        font-size: 20px;

        margin-bottom: 3rem;
    }

    .wrapper__functionals{
        flex-direction: column;
    }

    .functionals__add{
        margin-bottom: 1.6rem;
    }

    .download__text{
        font-weight: 400;
        font-size: 17px;
        text-align: center;

        margin-bottom: 15px;
    }

    .download__arrow{
        display: none;
    }

    .header{
        display: block;
    }
    /* header*/



}

@media (min-width: 350px){
    .actual__subtitle{
        margin-right: auto;
        margin-left: auto;
    }
}

@media (width: 411px){
    .actual__subtitle{
        margin-right: auto;
        margin-left: auto;
    }

    .actual__title{
        max-width: 350px;
        margin-left: 1rem;
    }

}

@media (width: 414px){
    .actual__subtitle{
        margin-right: auto;
        margin-left: auto;
    }

    .actual__title{
        max-width: 350px;
        margin-left: 1rem;
    }

}