@media (max-width: 500px){
    .actual__title-img{
        display: none;
    }

    .actual__management, .actual__research, .actual__check, .actual__create{
        flex-direction: column;
    }

    .actual__footer-img{
        display:none;
    }

    .actual__title{ 

        text-align: center;
    }

    .actual__subtitle{
        text-align: center;
        max-width: 18.75rem;

        font-size: 25px;
    }

    .actual__numeral{
        display: block;
    }

    .actual__management-title{
        margin-bottom: 10px;
    }

    .actual__management-title, .actual__research-title, .actual__check-title, .actual__create-title {
        margin-bottom: 20px;
        text-align: center;

        font-size: 25px;
    }

    .actual__management-title{
        margin-left: 6rem;
    }

    .actual__research-title{
        margin-left: 7rem;
    }

    .actual__create-title{
        margin-left: 1rem;
    }

    .actual__check-title{
        margin-left: 5rem;
    }

    .actual__numeral{
        margin-left: 0.8rem;
    }
    
    .pink-button{
        width: 270px;
    }
}