* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--purple: #6E4A88;
    --purple-light: #7F4A88;    
    --purple-text: #4A266A;
    --pink-text: #BF6188;
	--pink: #F7C5C4;
    --pink-button: #C96588;
	--pink-light-text: #E884A7;
	--pink-rgb: 247, 197, 196;
	--black-text: #000000;
	--white-bg: #fff;
	--white-text: #fff;
	--header-background: #7b4b89;
}

body{
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
}

/*header*/
.header{
	background-color: var(--header-background);
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.header__wrapper{
	display: flex;
	flex-direction: column;
	padding: 5%;
}

.wrapper__info{
	display: flex;
	align-items: center;
}

.wrapper__functionals{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.img__header{
	width: 95%;
	height: 95%;
}

.head__title{
	text-transform: uppercase;
	color: var(--white-text);
	font-size: 35px;
    font-family: 'Roboto',Arial,sans-serif;
    padding-bottom: 14%;
    width: 90%;

	font-weight: 400;
}

.head__text{
	color: var(--white-text);
	font-size: 26px;
    font-family: 'Roboto',Arial,sans-serif;
    line-height: 1;
    font-weight: 400;
}

.functionals__download{
	display: flex;
	align-items: center;
	color: var(--white-text);
}

.download__text{
	position: relative;
	color: var(--white-text);
	font-size: 23px;
    font-family: 'Roboto',Arial,sans-serif;
}

.download__text:before {
	height: 1px;
	width: 0%;
	background: var(--white-bg);
	transition: width .3s ease;

	position: absolute;
	content: '';
	bottom: -3px;
	left: 2px;
}

.download__text:hover:before {
	width: 100%;
}

.functionals__add{
	color: var(--purple-light);
    border-radius: 20px;

	font-size: 18px;

	padding: 20px;
	width: 280px;
	border: 0px;

	cursor: pointer;
}

.functionals__add:hover{
	transition: 0.3s;
	transform: scale(1.05);
}

/*header*/

/*navbar*/
.menu-burger {
	width: 48px;
	height: 48px;
	border-radius: 100%;
	background-color: var(--white-bg);
	cursor: pointer;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .05);
	transition: box-shadow .3s ease;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: fixed;
	z-index: 3;
	right: 21px;
	top: 17px;
}

.menu-burger.active {
	box-shadow: none;
}

.menu-burger div {
	width: 25px;
	height: 2px;

	background: var(--pink);
	border-radius: 5px;
	transition: all .3s ease;

	position: relative;
}

.menu-burger div:nth-child(1) {
	transform: translateY(-5px);
}

.menu-burger div:nth-child(3) {
	transform: translateY(5px);
}

.menu-burger.active div:nth-child(1) {
	transform: translateY(2px) rotate(45deg);
	background: var(--black-text);
}

.menu-burger.active div:nth-child(2) {
	opacity: 0;
}

.menu-burger.active div:nth-child(3) {
	transform: translateY(-2px) rotate(-45deg);
	background: var(--black-text);
}

.nav {
	width: 280px;
	height: 100%;
	padding: 75px 25px;

	background-color: var(--white-bg);
	font-size: 16px;
	transform: translate(100%);
	transition: transform .3s ease;	

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;
}

.menu-burger.active + .nav {
	transform: translate(0%);
	box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, .05);
}

.nav__block {
	display: flex;
	flex-direction: column;
}

.nav__logo {
	width: 130px;
}

.nav__link {
	margin-top: 25px;
}

a {
	text-decoration: none;
	color: inherit;
}

.button-border__text {
	position: relative;
	z-index: 2;
}

.button-border {
	border: 1px solid var(--pink);
	border-radius: 20px;
	color: var(--black-text);
	background: var(--white-bg);
	padding: 10px 25px;
	transition: color .3s ease;

	align-self: center;
	display: inline-block;
	position: relative;
	overflow: hidden;
	outline: none;
	cursor: pointer;
}

.button-border:before {
	background: var(--pink);
	opacity: 0;

	transform: translateY(100%);
	transition: all .3s ease;	

	width: 100%;
	height: 100%;

	content: '';
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.button-border:hover:before {
	transform: translateY(0%);
	opacity: 1;
}

.button-border__text {
	position: relative;
	z-index: 2;
}

/*navbar*/

.pink-button{
    padding: 15px;
    background-color: var(--pink-button);
    color: var(--white-text);

    border: 0.5px solid var(--pink-button);
    border-radius: 20px;

    margin-top: 20px;

    font-family: 'Roboto', sans-serif;
    font-size: 23px;

    width: 300px;
}

.pink-button:hover{
    transition: 0.4s;

    color: var(--black-text);
    background-color: var(--white-bg);
}
/* boostrap container */ 
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) { .container { max-width: 540px } }
@media (min-width: 768px) { .container { max-width: 720px } }
@media (min-width: 992px) { .container { max-width: 960px } }
@media (min-width: 1200px) { .container { max-width: 1140px } }
/* /bootstrap container */


/*actual*/
.actual{
    font-size: 20px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.actual__management-title, .actual__research-title, .actual__create-title, .actual__check-title{
    align-self: center;

    margin-right: 90px;
}

#actual__research-title{
    margin-right: 113px ;
}

#actual__check-title{
    margin-right: 76px;
}

#actual__create-title{
    margin-right: 8px;
}

.actual__numeral{
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: var(--purple);
    border-radius: 15px;

    font-size: 17px;
}


.actual__numeral-text{
    padding: 20px;
}

.actual__management-title1, .actual__management-title2, .actual__management-title3, .actual__management-title4 {
    margin-bottom: 10px;
}

.actual__management-subtitle3, .actual__management-subtitle4{
    margin-bottom: 20px;
}

.actual__research-title1, .actual__research-title2, .actual__research-title3, .actual__research-title4, .actual__research-title5, .actual__research-title6 {
    margin-bottom: 10px;
}

.actual__check-title1, .actual__check-title2, .actual__check-title3{
    margin-bottom: 10px;
}

.actual__check-subtitle3{
    margin-bottom: 20px;
}

.actual__create-title1, .actual__create-title2 {
    margin-bottom: 10px;
}

.actual__create-subtitle1, .actual__create-subtitle2{
    margin-bottom: 20px;
}

.actual__title{
    font-size: 35px;
	font-family: 'TT Firs Neue', sans-serif;
    color: var(--purple-text);

    margin-bottom: 30px;
}

.actual__subtitle{
    margin-bottom: 70px;
    width: 771px;
}

.actual__black-paragraph{
    color: var(--black-text);
}

.actual__pink-paragraph{
    color: var(--pink-text);
}

.actual__white-paragraph{
    color: var(--white-text);
}

.actual__management, .actual__research, .actual__check, .actual__create{
    margin-bottom: 30px;
}

.actual__footer{
    margin-top: 50px;
}

.actual__footer-text{
    flex-direction: column;

    align-self: center;
}

.actual__footer-img{
    width: 45%;

    margin-right: 40px;
}

.actual__footer-title{
    font-size: 30px;
    align-self: center;
    text-align: center;

    margin-bottom: 25px;
}

.actual__button-paragraph{
    text-align: center;
}

.actual__title-img{
    z-index: -1;
}

.actual__title-text{
    align-self: center;
}
/*actual*/

/*technology*/

.technology{
	background-color: var(--purple-light);
}

.technology__title-h1{
	color: #FFFFFF;
	font-family: 'TT Firs Neue', sans-serif;

	padding-top: 5rem;

	font-size: 35px;
}

.technology__hashtags{
	min-height: 620px;
	position: relative;
	overflow: hidden;
}

.technology__item-first{
	color: var(--pink-light-text);
	font-size: 32px;

	position: absolute;
	left: 10%;
	top: 8%;

	z-index: 1;
}

.technology__item-second{
	color: var(--pink-light-text);
	font-size: 35px;

	position: absolute;
	left: 26%;
	top: 15%;

	z-index: 1;
}

.technology__item-third{
	color: var(--pink-light-text);
	font-size: 30px;

	position: absolute;
	left: 62%;
	top: 5%;

	z-index: 1;
}

.technology__item-fourth{
	color: var(--pink-light-text);
	font-size: 38px;

	position: absolute;
	top: 41%;
	left: 3%;

	z-index: 1;
}

.technology__item-fifth{
	color: var(--pink-light-text);
	font-size: 30px;

	position: absolute;
	left: 18%;
	top: 63%;

	z-index: 1;
}

.technology__item-img{
	width: 716px;
	height: 450px;

	position: absolute;
	left: 48%;
	top: 25%;

	z-index: 0;
}


/*technology*/

/*education*/

.education{
	background-color: var(--purple-light);
}

.education__title{
	font-size: 35px;
	font-family: 'TT Firs Neue', sans-serif;
	color: var(--white-text);
}

.education__subtitle{
	color: var(--white-text);
	font-size: 17px;
	line-height: 1.55;

	margin-top: 40px;
}

.education__item{
	flex-direction: column;
	align-items: center;
}

.education__column-title{
	margin-top: 5rem;

	font-size: 20px;

	color: var(--white-text);

	text-align: center;
	min-height: 50px;
}

.education__popup{
	padding: 15px;

	font-size: 15px;
	font-weight: bold;

	border: 2px solid var(--pink-button);
	background-color: var(--purple-light);
	color: var(--white-text);
	border-radius: 10px;

	width: 329px;
	height: 75px;

	cursor: pointer;
}

.education__popup:hover{
	transition: 0.4s;

	background-color: var(--white-bg);
	color: var(--purple-light);
	border: 2px solid var(--white-bg);
}

.education__popup-main{
	margin-top: 50px;
	margin-bottom: 35px;
}

.education__bottom{
	margin-bottom: 6rem;
}




/*education*/

/*modals*/
/* modal */
.modal-wrapper {
	display: none;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.modal-wrapper__bg {
	background-color: rgba(0, 0, 0, .7);
	cursor: pointer;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.modal__close {
	position: fixed;
	right: 30px;
	top: 38px;
}

.modal-wrapper.active {
	display: flex;
	justify-content: center;
	align-items: center;

	border: 2px solid var(--purple-text);
}

.modal {
	width: 100%;
	max-height: 80vh;
	
	background: #fff;
	overflow-y: scroll;

	position: relative;
	z-index: 20;
}

.modal__bg {
	width: 100%;
	max-height: 200px;

	object-fit: cover;
}

.modal__block-info {
	padding: 30px;
}

.modal__close div {
	background: var(--white-bg);
	border-radius: 5px;

	width: 30px;
	height: 5px;

	transition: all .3s ease;

	position: absolute;
	right: 0;
	top: 0;
}

.modal__close div:nth-child(1) {
	transform: rotate(45deg);
}

.modal__close div:nth-child(2) {
	transform: rotate(-45deg);
}

.modal__button-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.modal__title{
	font-weight: 400;
}

.modal__hr{
	border: 2px solid var(--purple-light);
	
	margin-top: 20px;
}

.modal__header{
	flex-direction: column;
}

.modal__quote{
	margin-top: 20px;
}

.modal__header{
	margin-left: 50px;
}

.modal__text{
	font-size: 18px;
}

.modal__img{
	align-self: center;
}

.modal__author{
	font-size: 20px;
	color: var(--pink-button);

	margin-top: 30px;
}

.modal__main{
	margin-top: 30px;
	margin-bottom: 20px;
}


/* /modal */
/*modals*/

/* online.education*/

.online_education__title{
	text-align: center;
	font-size: 25px;
	color: #4a266a;
	font-family: 'Roboto',sans-serif;
	font-weight: 500;
	margin-top: 65px;
}

.online_education__subtitle{
	color: #000000;
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
    line-height: 1.25;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
	margin-top: 55px;
	margin-bottom: 55px;
}

.online_education__colomn-title{
	color: #bf6188;
    font-size: 20px;
    font-family: 'Roboto',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
	margin-top: 65px;
	text-align: center;
	margin-bottom: 55px;
}

.online_education__colomn-title1{
	color: #bf6188;
    font-size: 20px;
    font-family: 'Roboto',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
	margin-top: 65px;
	text-align: center;
	margin-bottom: 25px;
}

.online_education__colomn-text{
    color: #000000;
    font-size: 17px;
    font-family: 'Roboto',Arial,sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
	text-align: center;
}

.online_education__main{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
}

.online_education__colomn{
	height: 330px;
	width: 25%;
	border-right: 4px solid #bf6188;
}

.online_education__colomn4{
	height: 330px;
	width: 25%;
}

/* online.education*/

/* conclusion*/

.conclusions__title {
	padding-bottom: 50px;
	font-family: 'TT Firs Neue', sans-serif;
	font-weight: 400;
	font-size: 35px;

	padding-top: 7rem;
}
.conclusions__text  {
	padding-bottom: 30px;
	font-size: 16px;
}

.conclusions__paragraph {
	padding-bottom: 90px;
}
.conclusions__subtitle {
	font-weight: 500;
	font-size: 25px;
}

.conclusions__items{
	margin-top: 6rem;
}


.conclusions__button{
	padding: 15px;
	margin-right: 50px;

	font-size: 15px;
	font-weight: bold;

	border: 2px solid var(--pink-button);
	background-color: var(--white-bg);
	color: var(--black-text);
	border-radius: 20px;

	width: 400px;

	cursor: pointer;

	z-index: 1;
}

.conclusions__button:hover{
	color: var(--white-text);
	background-color: var(--pink-button);

	transition: 0.3s;
}

.conclusions__footer{
	margin-bottom: 15rem;
	position: relative;
}

.conclusions__background{
	position: absolute;
	width: 50%;

	left: 60%;
	bottom: -50%;

	z-index: 0;
}
/* conclusion*/

